<div class="title">
</div>

<div class="page-marks">

</div>

<div class="books">
  <% @books.each do |book| %>
      <div class="book">
          <div class="book-title">
            <%= book.title %>
          </div>
        <div class="book-image">
          <%= link_to image_tag("note.png"), book_pages_path(book.id) %>
        </div>
      </div>
  <% end %>
</div>